<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

	<module-name>demoApp2</module-name>
	
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/private/*</url-pattern>
        </web-resource-collection>
		<!--        
		<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>  
        -->
        <auth-constraint>
            <role-name>demo-role-1</role-name>            
        </auth-constraint>
    </security-constraint>

	<login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>demo-realm</realm-name>
    </login-config>

    <security-role>
        <role-name>demo-role-1</role-name>    
    </security-role>
    
     <servlet>
	    <description></description>
	    <display-name>LogoutServlet</display-name>
	    <servlet-name>LogoutServlet</servlet-name>
	    <servlet-class>com.jboxers.aaa.demo.servlets.LogoutServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>LogoutServlet</servlet-name>
	    <url-pattern>/logout</url-pattern>
	  </servlet-mapping>
  
</web-app>
